@import 'styles/globalStyles.scss';

.wrapper{
  height: 155px;
  background: $white;
  border-radius: 8px;
  padding: 0 32px;
  border: 1px solid $borderColor;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 32px;

  & .header{
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .title{
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: $textColorDarkBlue;
    }

    & .price{
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 120%;
      text-align: right;
      color: #0079FF;

    }
  }

  & .info{
    text-align: start;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background: #F4F8FA;
    padding: 24px 32px;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1C1E1F;
  }
}

@media screen and (max-width: 450px){
  .title{
    font-size: 18px!important;
  }
  .price{
    font-size: 24px!important;
  }
  .info{
    text-align: center!important;
  }
}
