$textColorBlue: #1B31A8;
$textColorDarkBlue: #1E2A32;
$focusColor: mediumblue;
$inputTextColor: #4D6475;
$white: #FFFFFF;
$borderColor: #E9EEF2;

$Rubik: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap';
$WorkSans300: 'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap';
$Rubik300:'https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap';
