@import "styles/globalStyles.scss";

.title{
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $textColorDarkBlue;

  text-align: start;
  margin: 0;

}

  .wrapper{
    box-sizing: border-box;
    width: 192px;
    background: $white;
    border: 1px solid $borderColor;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    height: 56px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    outline: none;

    &:focus{
      border: 2px solid $focusColor;
    }


    & .date {
      &>p{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: $textColorDarkBlue;
        margin: 0;
      }
      & .year{
        font-weight: 800;
        color: #708797;
      }
    }

    & .leftArrowButton, .rightArrowButton{
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: transparent;
      width: 20%;
      border: none;

      &:hover{
        border-radius: 4px;
        cursor: pointer;
        animation: buttonClick 400ms;
        background-color:  rgba(112, 135, 151, 0.3490196078);
      }
    }

  }

@media screen and (max-width: 450px){
  .wrapper{
    width: 100%!important;
  }
  .month, .year {
    font-size: 14px !important;
  }
}

@keyframes buttonClick {
  0% {
    background-color: transparent;
  }
  100%{
    background-color:  rgba(112, 135, 151, 0.3490196078);
  }
}